<!--Doctype is a TAG. html is an Attribute-->
<!DOCTYPE html>
<!--some attributes must follow with a value to take action-->
<html lang="en" xmlns="http://www.w3.org/1999/html">

<!--Machine Part code-->
<head>
    <meta charset="UTF-8">
    <title>My Portfolio 💛 Lata Thakur</title>
    <!--bridge between html <=> css -->
    <link rel="stylesheet" href="/Styles/style.css"/>
    <script src="/Scripts/backend.js"></script>
</head>

<!--Human Part code-->
<body>
<!--Page main Wrapper-->
<div class="body">
    <div class="NavBar">NAvBar</div>
    <div class="PageBody">
        <div class="banner">
            <h4>Hi, My name is Lata, a developer for Web Solutions</h4>
            <p>writing clean code for fast and clear websites is what I do ⚜️ </p>
        </div>
    </div>
    <div class="LeftSideBar">LeftSideBar</div>
    <div class="RightSideBar">RightSideBar</div>
    <div class="Footer">Footer</div>
</div>
</body>
</html>