@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    padding: 0;
    margin: 0;

}

:root {
    --bg: #863A6F;
    --fg: #D989B5;
    --pC: #FFADBC;
    --sC: #975C8D;
    --c1: #F1CA89;
    --c2: #FFD8A9;
    --c3: #F1A661
}

.body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: burlywood;
    height: 100vh;

}

/*Drawing the space for the NavBar with telling the element from which column to which column does it need to exist*/
.NavBar {
    grid-column: 1/ span 12;
    grid-row: 1/ span 1;
    background-color: var(--bg);
}

.Footer {
    grid-column: 1/ span 12;
    grid-row: 12/ span 1;
    background-color: var(--bg)
}

.LeftSideBar {
    grid-column: 1/ span 1;
    grid-row: 2/ span 10;
    background-color: var(--bg)
}

.RightSideBar{
    grid-column: 12/ span 1;
    grid-row: 2/ span 10;
    background-color: var(--bg)
}

.PageBody{
    grid-column: 2/ span 10;
    grid-row: 2/ span 10;
    background-color: var(--pC)
}
/*style for page body*/
.PageBody{
    background: radial-gradient(circle at right,var(--fg), var(--pC), var(--sC), transparent), radial-gradient(circle at top,var(--c1), var(--c2), var(--c3));
    -webkit-animation: AnimateBG 12s ease-in-out infinite;
    background-size: 400% 400%;

}

.banner {
    text-align: center;
    font-size: 15pt;
    font-family: 'Dancing Script', cursive;
}

